#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  wikijs:
    image: lscr.io/linuxserver/wikijs:{{ wikijs_image_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      - PUID={{ target_user_uid | default(ansible_facts['user_uid']) }}
      - PGID={{ target_user_gid | default(ansible_facts['user_gid']) }}
      - TZ={{ timezone | default('UTC') }}

      - DB_TYPE={{ wikijs_db_type }}
      - DB_HOST={{ wikijs_db_host }}
      - DB_PORT={{ wikijs_db_port }}
      - DB_NAME={{ wikijs_db_name }}
      - DB_USER={{ wikijs_db_user }}
      - DB_PASS={{ wikijs_db_pass }}

    volumes:
      - ./config:/config
      - ./data:/data
      {% for item in wikijs_additional_volumes %}
      - {{ item }}
      {% endfor %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}
      {{ docker_project_service_additional_labels | indent(6) }}

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
